<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Home - KNIU</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="../assets/bootstrap.min.css" type="text/css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards%7CDosis:300,400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800;' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../assets/font-awesome.min.css" type="text/css">
<!-- Plugin CSS -->
<link rel="stylesheet" href="../assets/animate.min.css" type="text/css">
<!-- Custom CSS -->
<link rel="stylesheet" href="../assets/style.css" type="text/css">

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #f05f40;}
  </style>  
  
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container">
  
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    <a class="navbar-brand page-scroll" href="#page-top"><img src="../assets/logo.png" alt="logolayana"></a>
  
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">

      <li class="navbar-item btn-group has-dropdown is-hoverable" data-behavior="notifications" data-notifications='
        <%= render template: "notifications/index", formats: [:json] %>'>
          <div class="dropdown">
            <button class="dropbtn" data-behavior="notifications" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "bell" %> <span data-behavior="unread-count"></span>
            </button>
            <div class="dropdown-content" data-behavior="notification-items">
              <!--<a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>  -->
            </div>
          </div>
      </li>

      <li>  <%= link_to 'History', surats_path %> </li>
      <li>  <%= link_to 'Log out', destroy_user_session_path, :method => :delete %> </li>
    </ul>
  </div>
  
<!-- /.navbar-collapse -->

  </div>

    <!-- /.container -->

</nav>

  <br>

<!-- upload section -->

<section id="contact">
  <div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="section-heading">NE<b>W</b> </h2>
          <hr class="primary">
    
            <h3>
              please upload the letter picture on the button below
            </h3>
    
    <br>

<%= form_for @surat, html: { multipart: true } do |f| %>
  <% if @surat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surat.errors.count, "error") %> prohibited this letter from being saved:</h2>
 
      <ul>
      <% @surat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.select(:jenis_surat, options_for_select([['Surat','Surat'], ['Dokumen','Dokumen'], ['Buku','Buku'], ['Email','Email'], ['Ka','Ka']]), { include_blank: true }, class: "col-md-12") %>
  
  <br><br>
  <div>
    <%= f.text_field :tanggal_diterima , class: "col-md-4 field", placeholder: "Tanggal diterima" %>
  </div>

  <div>
    <%= f.text_field :bulan_diterima, class: "col-md-4 field", placeholder: "Bulan diterima" %>
  </div>

  <div>
    <%= f.text_field :tahun_diterima, class: "col-md-4 field", placeholder: "Tahun diterima" %>
  </div>
  <br><br>

  <div>
    <%= f.text_field :tanggal_dibuat , class: "col-md-4 field", placeholder: "Tanggal dibuat" %>
  </div>

  <div>
    <%= f.text_field :bulan_dibuat, class: "col-md-4 field", placeholder: "Bulan dibuat" %>
  </div>

  <div>
    <%= f.text_field :tahun_dibuat, class: "col-md-4 field", placeholder: "Tahun dibuat" %>
  </div>
  <br><br>

  <div>
    <%= f.text_field :nomor_surat, class: "col-md-12 field", placeholder: "Nomor surat" %>
  </div>
  <br><br>

  <div>
    <%= f.text_field :asal_surat, class: "col-md-12 field", placeholder: "Asal surat" %>
  </div>
  <br><br>

  <div>
    <%= f.text_area :perihal_surat, class: "col-md-12 field", placeholder: "Perihal surat" %>
  </div>

  <%= f.select(:bidang, options_for_select([['Pendidikan','Pendidikan'], ['Sains','Sains'], ['Kebudayaan','Kebudayaan'], ['Komunikasi','Komunikasi']]), { include_blank: true }, class: "col-md-12") %>
  
  <br><br><br>

  <div>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
    <% end %>
  </div>
  <br>
  
  <%= f.select(:status, options_for_select([['diterima','diterima'],['disposisi','disposisi'],['selesai','selesai']]), { include_blank: true }, class: "col-md-12") %>
  <div>
    <%= f.submit "Upload" , class: "contact submit btn btn-primary btn-xl actions" %>
  </div>
  <br>

<% end %>

</div>
</div>
</div>
</section>

<br>
<!-- upload section -->


<section class="bg-dark" style="bottom:0;width:100%">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <p>
            <p> </p>
      &copy; Komisi Nasional Indonesia untuk Unesco
    </p>
  </div>
</div>
</div>
</section>

<!-- jQuery -->
<script src="../assets/jquery.js"></script>
<script src="../assets/bootstrap.min.js"></script>
<script src="../assets/parallax.js"></script>
<script src="../assets/contact.js"></script>
<script src="../assets/countto.js"></script>
<script src="../assets/jquery.easing.min.js"></script>
<script src="../assets/wow.min.js"></script>
<script src="../assets/common.js"></script>
</body>
</html>